import init.recovery.ray_touch.rc
import init.recovery.nv_dev_board.usb.rc

on boot
    # touchscreen
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/FCT /mnt/factory ro context=u:object_r:factory_file:s0
